<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>PokeDex Classic</title>
<link th:href="@{/styles/global.css}" rel="stylesheet" />
<style th:inline="css" type="text/css" media="screen, print">
	@font-face {
			font-family: "PixelifySans";
			font-weight: normal;
			src: url{[[@{/fonts/PixelifySans-Regular.ttf}]]};
		}
	
	body{
		font-family: "PixelifySans";
	}
</style>
</head>
<body class="no-overflow">
	<nav>
		<h1><a href="/">POKeDEX Classic</a></h1>
	 	<a href="/about">about</a>
	</nav>
    <div class="content overflow">
		<div class="sub-content no-shadow">
			<table>
		        <thead>
		         <tr>
		           <th><h2>CONTENTS</h2></th>
		        </tr>
		        </thead>
		        <tbody>
		          <tr th:each="pokemon : ${allPokemon}">
		             <td><p th:text="${pokemon.formatId()}"></p></td>
		             <td class=".pokedex-entry" >
						<a th:href="@{/{id}(id=${pokemon.Id})}">
							<img class="pokeball" th:src="@{assets/misc/pokeball.png}" alt="pokeball" />
							<p style="display:inline;" th:text="${pokemon.Name.toUpperCase()}"></p>
						</a>
					</td>
		          </tr>
		        </tbody>
		    </table>
		</div>
	</div>
 </body>
</html>