html { 
	width: 100%; 
	background-color: #fff1fe;  
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06)); 
	z-index: 2; 
	background-size: 100% 2px, 3px 100%;
}

@font-face {
		font-family: "PixelifySans";
		font-weight: normal;
		src: url("\/fonts\/PixelifySans-Regular.ttf");
	}

body: {
	font-family: "PixelifySans";
	-webkit-font-smoothing: none;
	overflow: hidden
}

nav{
	padding-bottom: 2rem;
}

nav h1{
	display:inline;
	padding: 0 .75rem 0 0;
}

nav a {
	text-decoration: none;
	color: black;
	font-size: 40px;
}

a:hover{
	cursor:pointer;
}

p {
	font-size: 20px;
}

li,ul {
	font-size: 20px;
}

table {
	width:100%;
}

th h2{
	font-size: 35px;
}

td p{
	font-size:30px;
}

.content {
	border: 2px solid black;
	width: 780px;
	height: 665px;
	margin: 2rem auto;
	
}

.sub-content {
	color: black;
	border: 5px solid black;
	width: 768px;
	height: 650px;
	margin: .25rem auto;
	overflow-y:scroll;
}

.about h2 {
	margin-top: -.25rem;
	font-size: 35px;
	padding-left:10px;
}

.about h3 {
	font-size: 25px;
	padding-left:10px;
}

.img-crop{
	display: block;
	margin :-1rem auto;
	width: 700px;
	height: 425px;
	overflow: hidden;
}

.about img {
	width: 700px;
	height: auto;
}

.about p, li, ul {
	font-size:22.5px;
	padding-left:10px;
}

.pokedex-entry p{
	margin: -1px 0 -1px 0;
	font-size: 40px;
}

.pokedex-entry a{
	margin-left: 4rem;
}

.no-shadow{
	box-shadow: none;
	border: 3px solid black;
}

.icon{
	display: inline;
	float: left;
	/* height: 150px; */
	padding-right:2rem;
}

.icon img{
	height: 250px;
	margin-top: 1.5rem;
}

.info {
	display: inline;
}

.icon p {
	font-size: 30px;
	text-align: center;
	margin-top: -.25rem;
}

.info p{
	font-size: 35px;
}

.desc p {
	font-size:30px;
}

.bottom-nav{
	text-align: center;
}

.bottom-nav a{
	padding: 1rem;
	font-size: 25px;
}

.pokeball{
	width: 35px;
	height: 35px;
	padding-right: .25rem;		
}

.no-overflow !important{
	overflow: hidden;
}

.overflow !important{
	overflow: scroll;
}

@media only screen and (min-width: 1600px) {
  .content {
	width: 1260px;
	height: 715px;
  }
  .sub-content {
	width: 1248px;
	height: 700px;
  }
}

